$accent-color:#8DD83D;
$header-background-color: #373A3C;
$all-border-radius: 4px;

$background-color-0: #FFF;
// $background-color-1: url(<path-to-image>), lightgray 0% 0% / 35.49107015132904px 35.49107015132904px repeat;
$btn-inactive-color: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
$background-color-1: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
// background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);

* {
    src: url(fonts/HelveticaNeue-Thin.otf) format("truetype");
    font-family: 'Helvetica Neue';
    font-weight: normal;

    box-sizing: border-box;
    margin: 0;
    color: rgba(255, 255, 255, 0.50);
}

body {
    padding-top: 60px;
}

.btn {
    display: flex;
    align-items: center;
    align-content: center;
    height: 38px;
    padding: 0 30px;
    border-radius: $all-border-radius;
    gap: 12px;
    color: white;
    background: $accent-color;
    border: 1px solid;

    &.inactive {
        background: $btn-inactive-color;
    }
}

.btn-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 60px;
    padding: 22 30px;
    border-radius: 4px;
    gap: 12px;
    color: white;
    background: $accent-color;
    
    &.inactive {
        background: $btn-inactive-color;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 320px;
    height: 420px;
    
    border-radius: 4px;
    border: 1px solid $accent-color;
    background: #FFF;

    overflow: hidden;

    .btn-big{
        margin-bottom: 27px;
    }
}

.card-img {
    width: 100%;
    height: 180px;
    background: #FAFAFA;

    display: flex;
    justify-content: center;
    align-items: center; 
    
    overflow: hidden;
}

.card-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 240px;
}

.card-content {
    margin-top: 22px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    .card-title {
        color: #435766;
    }
    p {
        color: #435766;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 170px;
    border-radius: $all-border-radius;
    background-color: $header-background-color;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;

    .nav-link + .nav-link {
        margin-left: 50px;
    }
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    gap: 7px;
    color: rgba(255, 255, 255, 0.50);

    &.active{
        color: #FFF;
    }
}

.search-txt {
    border-radius: $all-border-radius;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    padding: 0 16px;
    width: 209.795px;
    height: 38px;
}

.hero-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $background-color-1;
    position: relative;
    bottom: 3px;
    height: 648px;
}

.hero-background-image {
    position: absolute;
    top: 3px;
    display: block;
    width: 100%;
}

.hero-control {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
}

.highlights-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-color-1;
    position: relative;
    bottom: 3px;
    height: 865px;
}

.highlights-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}

.games-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-color-1;
    position: relative;
    bottom: 3px;
    width: 1400px;
    height: 880px;
}

.highlights-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        margin-top: 64px;
        margin-bottom: 16px;
    }
}

.games-background-image {
    position: absolute;
    display: block;
    width: 1400px;
}

.games-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.games-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.design-lab-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-color-1;
    position: relative;
    bottom: 3px;
    width: 1400px;
    height: 880px;
}

.design-lab-background-image {
    position: absolute;
    display: block;
}

.design-lab-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


@media (min-width: 851px) {
    .desktop-only {
        display: none !important;
    }
    
    // header {
    //     background-color: red;
    // }
}

@media (max-width: 850px) {
    .mobile-only {
        display: none !important;
    }
    header {
        padding: 15px 30px;

        .logo {
            width: 10px;
        }
    }
}