$all-border-radius: 4px;
$small-font-size: 24px;
$standard-font-size: 36px;

$footer-height: 480px;

$btn-inactive-color: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
$background-color-1: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
$accent-color:#8DD83D;
$header-background-color: #373A3C;

* {
    src: url(fonts/HelveticaNeue-Thin.otf) format("truetype");
    font-family: 'Helvetica Neue';
    font-weight: 400;
    text-decoration: none;

    box-sizing: border-box;
    margin: 0;
    color: #FFFFFF;
}

body {
    padding-top: 60px;
    background: $background-color-1;
}

.main {
    // max-width: 1920px;
}

.circle {
    height: 10px;
    width: 10px;
    border: 1px solid $accent-color;
    border-radius: 50%;
    display: inline-block;

    &.inactive {
        background: $accent-color;
    }
}

.line {
    width: 100%;
    background: #777777;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: $accent-color;

    border-radius: $all-border-radius;

    &.inactive {
        background: $btn-inactive-color;
    }
}

.btn-big {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 278px;
    height: 60px;

    background: $accent-color;

    border-radius: $all-border-radius;;
    
    &.inactive {
        background: $btn-inactive-color;
        
        width: 207px;
        height: 53px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    width: 320px;
    height: 420px;
    background: #FFF;
    
    border-radius: $all-border-radius;;
    border: 1px solid $accent-color;

    .card-img {
        display: flex;
        justify-content: center;
        align-items: center; 
        
        width: 100%;
        height: 180px;
        background: #FAFAFA;
        
        overflow: hidden;
    
        .icon {
            width: 320px;
            height: 100%;

            object-fit: cover;
            object-position: top;

            border-bottom-left-radius: $all-border-radius;
            border-bottom-right-radius: $all-border-radius;
        }
    }

    .card-action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        height: 100%;
        max-height: 240px;

        .card-content {
            margin-top: 22px;
            font-size: 18px;
            
            .card-title {
                color: #435766;
            }
            p {
                color: #435766;
                font-size: 21px;
            }
        }
    }

    .btn-big {
        margin-bottom: 27px;
    }
}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 11px 170px;
    
        border-radius: $all-border-radius;
        background-color: $header-background-color;

        nav {
            display: flex;
            align-items: center;
        
            margin-left: 100px;
            gap: 30px;

            .nav-link {
                display: flex;
                align-items: center;
            
                font-size: 16px;
                
                gap: 7px;
                
                &.nonactive{
                    color: rgba(255, 255, 255, 0.50);
                }
            }
        
            .nav-link + .nav-link {
                margin-left: 50px;
            }

            .search-txt {
                width: 209.795px;
                height: 38px;
                padding: 0 16px;
                
                border-radius: $all-border-radius;
                border: 1px solid #CCCCCC;
                
                font-size: 16px;
            }
        }
    }

    .line {
        height: 3px;
    
        position: relative;
        bottom: 3px;
    }
}

footer {
    height: 395px;
    width: auto;

    h1 {
        color: #7DD42F;
        font-size: 18px;
        font-weight: 700;

        margin-top: 58px;
    }

    a {
        font-size: 14px;
    }

    span {
        font-size: 16px;
    }

    .footer-action {
        margin-left: 165px;

        display: flex;
        flex-direction: row;
        gap: 300px;

        .footer-content {
            display: flex;
            flex-direction: column;
            
            
            .footer-content-link {
                display: flex;
                flex-direction: column;
                gap: 29px;
            }
        }

        .footer-content-title {
            margin-bottom: 34px;
        }

        .footer-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .icons-inline {
                display: flex;
                flex-direction: row;
                gap: 21px;
            }
        }
    }
    
    .footer-bottom {
        margin: 0 100px;
        margin-top: 49px;

        .line {
            height: 1px;
        
            position: relative;
        }

        .copyright {
            margin: 19px 0;
            display: flex;
            justify-content: space-between;
        }
    }
}


@media (min-width: 851px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .desktop-only {
        display: none !important;
    }

    body {
        padding-top: 39px;
    }

    header{    
        width: 390px;
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            padding: 5px 15px;
    
            nav {
                margin-left: 10px;
                gap: 40px;
  
                .search-txt {
                    width: 140px;
                    height: 25px;
                    padding: 0 5px;
                    
                    border-radius: $all-border-radius;
                    border: 1px solid #CCCCCC;
                    
                    font-size: 15px;
                }
            }
        }
    
        .line {
            height: 2px;
        
            position: relative;
            bottom: 2px;
        }
    }

}