$accent-color:#8DD83D;
$header-background-color: #373A3C;
$all-border-radius: 4px;


* {
    src: url(fonts/HelveticaNeue-Thin.otf) format("truetype");
    font-family: 'Helvetica Neue';
    font-weight: normal;

    box-sizing: border-box;
    margin: 0;
}

body {
    
}

.btn {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 30px;
    border-radius: $all-border-radius;
    gap: 12px;
    color: white;
    background: $accent-color;
    border: 1px solid;
}

.btn-big {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    border-radius: 4px;
    gap: 12px;
    color: white;
    background: $accent-color;
    &.black {
        background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-radius: $all-border-radius;
    background-color: $header-background-color;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;

    .nav-link + .nav-link {
        margin-left: 50px;
    }

    .active{
        color: #FFF;
    }
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.50);
}

.search-txt {
    border-radius: $all-border-radius;
    border: 1px solid #CCCCCC;
    width: 209.795px;
    height: 38px;
}

.hero-control{
    display: flex;
    justify-content: space-between;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
}
