* {
  src: url(fonts/HelveticaNeue-Thin.otf) format("truetype");
  font-family: "Helvetica Neue";
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  color: #FFFFFF;
}

body {
  padding-top: 60px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8DD83D;
  border-radius: 4px;
}
.btn.inactive {
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}

.btn-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 60px;
  background: #8DD83D;
  border-radius: 4px;
}
.btn-big.inactive {
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  width: 207px;
  height: 53px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 320px;
  height: 420px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #8DD83D;
}
.card .btn-big {
  margin-bottom: 27px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background: #FAFAFA;
  overflow: hidden;
}
.card-img .icon {
  width: 320px;
  height: 100%;
}

.card-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 240px;
}

.card-content {
  margin-top: 22px;
  font-size: 18px;
}
.card-content .card-title {
  color: #435766;
}
.card-content p {
  color: #435766;
  font-size: 21px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 170px;
  min-width: 1400px;
  border-radius: 4px;
  background-color: #373A3C;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 30px;
}
nav .nav-link + .nav-link {
  margin-left: 50px;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 7px;
}
.nav-link.nonactive {
  color: rgba(255, 255, 255, 0.5);
}

.search-txt {
  width: 209.795px;
  height: 38px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  font-size: 16px;
}

.hero-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 648px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  position: relative;
  bottom: 3px;
}

.hero-background-image {
  position: absolute;
  top: 3px;
  width: 100%;
}

.hero-control {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 400px;
}
.hero-control img {
  margin: 0 57px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}
.hero-content .btn-in-line {
  display: flex;
  gap: 13px;
}
.hero-content .hero-content-offset {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.hero-content .hero-content-offset .btn {
  width: 136px;
  height: 38px;
}
.hero-content .hero-content-offset .btn.inactive {
  width: 146px;
}

.highlights-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 865px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  position: relative;
}

.highlights-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights-title .icon {
  margin-top: 64px;
  margin-bottom: 16px;
}

.highlights-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.games-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height: 880px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  position: relative;
}

.games-background-image {
  position: absolute;
  width: 1400px;
  height: 100%;
}

.games-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.games-control .lower-section {
  margin-top: 85px;
}

.games-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 97px;
  margin-bottom: 54px;
}
.games-title img {
  margin: 0 55px;
  width: 21px;
}
.games-title .nonactive {
  position: relative;
  z-index: -1;
}

.games-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.design-lab-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height: 480px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
  position: relative;
}

.design-lab-background-image {
  position: absolute;
  height: 100%;
}

.design-lab-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

footer {
  width: 1400px;
  height: 395px;
}

@media (min-width: 851px) {
  .desktop-only {
    display: none !important;
  }
}
@media (max-width: 850px) {
  .mobile-only {
    display: none !important;
  }
  header {
    padding: 15px 30px;
  }
  header .logo {
    width: 10px;
  }
}
#hero h1 {
  font-size: 36px;
}
#hero h2 {
  font-size: 24px;
}
#hero p {
  height: 100px;
  max-width: 300px;
}

#highlights .highlights-title {
  margin-bottom: 43px;
}
#highlights .highlights-title h1 {
  font-size: 48px;
}
#highlights .highlights-title h2 {
  font-size: 36px;
}
#highlights .card-content p {
  font-size: 24px;
  margin-top: 13px;
  max-width: 278px;
}

#games .games-title h1 {
  font-size: 36px;
}
#games .card-content p {
  font-size: 21px;
  margin-top: 16px;
  max-width: 278px;
}/*# sourceMappingURL=main.css.map */