@import 'common';

$hero-height: 645px;
$highlights-height: 865px;
$games-height: 880px;
$design-lab-height: 480px;

#hero {
    position: relative;
    display: flex;
    flex-direction: column;

    width: auto;
    height: $hero-height;

    h1 {
        font-size: $standard-font-size;
    }

    h2 {
        font-size: $small-font-size;
    }

    p {
        height: 100px;
        max-width: 300px;
    }

    .hero-background-image {
        position: absolute;
        
        object-fit: cover;
        object-position: top;
        
        width: 100%;
        height: 100%;
    }

    .hero-nav {
        position: absolute;
        margin-top: 602px;
        margin-left: 50%;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .hero-action {
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        background: $background-color-1;

        .hero-control {
            position: relative;
    
            display: flex;
            justify-content: space-between;
            
            width: 100%;
            max-height: 400px;
        
            img {
                margin: 0 57px;
            }

            .hero-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            
                width: 60%;
                
                .hero-content-offset {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    
                    .btn-in-line {
                        display: flex;
                        gap: 13px;

                        .btn{
                            width: 136px;
                            height: 38px;  
                            
                            &.inactive {
                                width: 146px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#highlights {
    position: relative;

    width: auto;
    height: $highlights-height;
    
    .highlights-title {
        margin-bottom: 43px;
        
        h1 {
            font-size: 48px;
        }
        
        h2 {
            font-size: $standard-font-size;
        }
    }
    
    .card-content {
        p {
            font-size: $small-font-size;
            
            margin-top: 13px;
            max-width: 278px;
        }
    }
    
    .highlights-action {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        height: 100%;
        background: $background-color-1;
        
        .highlights-title {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .icon {
                margin-top: 64px;
                margin-bottom: 16px;
            }
        }

        .highlights-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 64px;
        }  
    }
}

#games {
    position: relative;

    width: auto;
    height: $games-height;

    .games-title {
        h1{
            font-size: $standard-font-size;
        }

    }
    
    .card {
        opacity: 0.9014;
    }
    .card-content {
        p {
            font-size: 21px;

            margin-top: 16px;
            max-width: 278px;
        }
    }

    .games-background-image {
        position: absolute;
        
        object-fit: cover;
        object-position: top;
        
        width: 100%;
        height: 100%;
    }

    .games-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 100%;
        background: rgba(23, 23, 23, 0.50);
        position: relative;

        .games-control {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            
            .games-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
            
                width: 100%;
                margin-top: 97px;
                margin-bottom: 54px;
            
                img {
                    margin: 0 55px;
                    width: 21px;
                }
            
                .nonactive {
                    position: relative;
                     z-index: -1;
                }
                
            }
        
            .games-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
            }
        
            .lower-section {
                margin-top: 85px;
            }
        }  
}

}

#design-lab {
    position: relative;

    width: auto;
    height: $design-lab-height;
    
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
        max-width: 533px;
        margin-top: 9px;
        max-height: 80px ;
    }

    .design-lab-background-image {
        position: absolute;
        
        object-fit: cover;
        object-position: top;
        
        width: 100%;
        height: 100%;
    }

    .design-lab-action {

        display: flex;
        flex-direction: row;
        align-items: center;
    
        height: 100%;
        background: $background-color-1;
        
        .design-lab-content{
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-left: 156px;
    
            .btn-in-line {
                display: flex;
                gap: 15px;

                margin-top: 37px;
    
                .btn{
                    width: 278px;
                    height: 60px;  
                    
                    &.inactive {
                        width: 207px;
                    }
                }
            }
        }
    }  
}

@media (min-width: 851px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .desktop-only {
        display: none !important;
    }

    #hero {
        height: calc($hero-height * 0.5);

        h1 {
            font-size: calc($standard-font-size * 0.5);
        }
    
        h2 {
            font-size: calc($small-font-size * 0.5);
        }
    
        p {
            height: 50px;
            max-width: 100px;
        }

        .hero-nav {
            margin-top: 300px;
            margin-left: 50%;
            gap: 5px;
        }
    
        .hero-action {
    
            .hero-control {
                max-height: 100px;
            
                img {
                    margin: 0 57px;
                }
    
                .hero-content {
                    width: 70%;
                    
                    .hero-content-offset {
                        
                        .btn-in-line {
                            gap: 7px;
    
                            .btn{
                                width: 170px;
                                height: 40px;  
                                
                                &.inactive {
                                    width: 175px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}