@import 'common';

#hero {
    h1 {
        font-size: 36px;
        line-height: normal;
    }

    h2 {
        font-size: 24px;
        line-height: normal;
    }

    p {
        height: 100px;
        width: 390px;
    }
}

#highlights {

}

#games {

}

#design-lab {
    
}

footer {
    width: 1400px;
    height: 395px;
}